@!name   abc
@!desc   description
@!author jie.
@!version    1.1.0
@!output     ./case.java
@!template
class Test {
    @#case#@
    void test() {
       byte[] temp = { };
       system.out.println(temp);
    }
    @#case#@
}
