@!name test
@!version v0.1
@!author Jie.
@!jsonIndex ./test.json
@!jsIndex ./test
@!output ./text.txt
@!template
This is a normal line.

@#case{"loop":1}#@
    `@`#case`@`# is the block indicator;
@#case#@

@#case#@
    `@`@symbol`@`@ is the symbol indicator;
    '@@symbol@@' is a simple string or complex object;
    @@example{"value":"for example"}@@:
    multi output: @@multi@@
    complex output: @@complex{"size": 2}@@.
    nested output: @@nested@@
    recursion output: @@recursion@@
@#case#@

@#case{"values":["abc", "xyz"]}#@
    @@name-with-case-value@@
@#case#@
